extends layout

block header
    div(ng-controller="UserController")
            div.pure-menu.pure-menu-open.pure-menu-horizontal
                a.pure-menu-heading(href="#/") World Cup 2014
                ul
                    li
                        a(href="#/", ng-class="{'pure-menu-selected':isActive('/')}") Matches
                    li
                        a(href="#/leaderboard", ng-class="{'pure-menu-selected':isActive('/leaderboard')}") Leaderboard
                span.pure-menu-heading.right
                    img.avatar(ng-src="{{ user.picture }}")
                span.pure-menu-heading.right.profile-points {{ user.points }} points

block notification
    div#notification(ng-controller="NotificationController")
        div.notification(ng-repeat="notification in notifications")
            div.page-width
                p {{ notification.message }}

block content

block script
    script(src="/js/models.js")
    script(src="/js/app.js")
    script(src="/js/filters.js")
    script(src="/js/directives.js")
    script(src="/js/factories.js")
    script(src="/js/controllers.js")
