extends layout

block header
    div(ng-controller="UserController")
        h3 World Cup 2014 | Hi {{ user.first_name }}!

block notification
    div#notification(ng-controller="NotificationController")
        div.notification(ng-repeat="notification in notifications")
            div.page-width
                p {{ notification.message }}

block content

block script
    script(src="/js/models.js")
    script(src="/js/app.js")
    script(src="/js/filters.js")
    script(src="/js/directives.js")
    script(src="/js/factories.js")
    script(src="/js/controllers.js")
