extends layout

block header
    h1 Euro 2016

block notification

block content
    h1.center Join the game to compete with your friends on the Euro 2016 matches
    div.cta.center
        a.btn-facebook(href='/auth/facebook') Login with Facebook
    div.center
        img(src='/images/logo-medium.png')
