extends layout

block header
    h1 World Cup 2014

block notification

block content
    h1.center Join the game to compete with your friends on the World Cup 2014 matches
    div.cta.center
        a.btn-facebook(href='/auth/facebook') Login with Facebook
    div.center
        img(src='/images/logo-medium.png')
