colors = {
    primary: #4eb11e,
    secondary: #b7e696,
    saved: #8191DA,
    subtle: #f6f6f6,
    perfect: #FFE557,
    win: #DAEED1,
    loss: #FF0000
}

*
    box-sizing: border-box;

body
    font-size: 14px
    font-family: 'helvetica neue', Helvetica, Arial, sans-serif
    font-weight: 300
    margin: 0
    padding: 0

h1, h2, h3, h4, h5
    font-weight: inherit

    &.title:before
        color: colors.subtle
        content: "#"
        padding-right: 0.3em

section
    margin-bottom: 1.5em

a
    cursor: pointer
    color: #2996cc
    text-decoration: none

p
    margin: 0
    padding: 0

ul
    padding: 0
    margin: 0.4em 0
    list-style: none

.left
    float: left

.right
    float: right

.center
    text-align: center


.page-width
    max-width: 645px
    padding: 0 10px
    margin: auto

.ajax-loader
    width: 32px
    height: 32px
    background-image: url(../images/ajax-loader.gif)
    margin: 0 auto

header
    text-align: center
    background: colors.primary
    color: colors.secondary
    padding: 20px 0 25px
    width: 100%
    color: #fff

.notification
    padding: 10px
    color: colors.primary
    background: colors.secondary

.notification.warning

.notification.error

#content
    margin: 20px auto


.cta
    margin: 60px 0

.btn-facebook
    padding: 20px
    font-size: 24px
    background-color: #4D68A2
    color: #fff
    border-radius: 6px

    &:hover
        color: #fff


.separator
    border-top: 1px solid #DDDDDD

    .date
        margin: 10px 0
        font-size: 125%

div.game
    margin-bottom: 20px
    padding: 20px 10px
    height: 80px
    border: 0
    border-style: solid
    border-left-width: 4px
    border-color: transparent

    &.saved
        border-color: colors.saved

    &.win
        border-color: colors.win

    &.perfect
        border-color: colors.perfect

    &.lost
        border-color: colors.lost

    &:hover
        cursor: pointer
        background-color: colors.subtle

    .flag
        width: 40px

        img
            width: 100%

        &.right
            margin-left: 10px
            img
                float: right

        &.left
            margin-right: 10px

    .game-score
        font-size: 150%
        padding-top: 5px

        &.hidden
            visibility: hidden

    .bet-score
        color: #9E9E9E

.leaderboard
    padding: 0 10px

    .me
        font-weight: bold

form.bet
    margin-top: 20px
    margin-bottom: 20px
    padding: 20px
    background-color: #f6f6f6

    .flags > div
        text-align: center

    input
        margin: 10px auto 0 auto !important
        width: 60%
        text-align: center
        font-size: 36px

    label, .versus
        font-size: 16px
        text-align: center

    .submit
        margin-top: 20px
        text-align: center

.bets
    margin-bottom: 40px
    padding-bottom: 20px
    border-bottom: 1px solid colors.subtle

    > div
        margin-bottom: 30px

.bets-title
    margin-bottom: 20px

.bet-row
    padding: 5px 15px 5px 15px
    overflow: hidden

    &.me
        font-weight: bold

    &.perfect
        background-color: colors.perfect

    &.won
        background-color: colors.win

.help
    margin-top: 40px

footer
    border-top: 1px solid colors.subtle
    text-align: center

    li
        margin-right: 1em
        display: inline-block
