* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: 'helvetica neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: inherit;
}
h1.title:before,
h2.title:before,
h3.title:before,
h4.title:before,
h5.title:before {
  color: #f6f6f6;
  content: "#";
  padding-right: 0.3em;
}
section {
  margin-bottom: 1.5em;
}
a {
  cursor: pointer;
  color: #2996cc;
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0.4em 0;
  list-style: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
.page-width {
  max-width: 645px;
  padding: 0 10px;
  margin: auto;
}
.ajax-loader {
  width: 32px;
  height: 32px;
  background-image: url("../images/ajax-loader.gif");
  margin: 0 auto;
}
header {
  background: #4eb11e;
  color: #b7e696;
  padding: 10px 0;
  width: 100%;
  color: #fff;
}
.pure-menu.pure-menu-open,
.pure-menu.pure-menu-horizontal li .pure-menu-children {
  background: none;
}
.pure-menu .pure-menu-heading,
.pure-menu a,
.pure-menu .pure-menu-can-have-children>li:after {
  color: #fff;
}
.pure-menu li a:hover,
.pure-menu li a:focus {
  background: #3e8e18;
}
.pure-menu-selected {
  background: #469f1b;
}
.profile-points {
  margin-top: 2px !important;
}
.avatar {
  width: 33px;
  height: 33px;
  margin-top: -5px;
  border-radius: 3px;
}
.notification {
  padding: 10px;
  color: #4eb11e;
  background: #b7e696;
}
.notification.warning,
.notification.error,
#content {
  margin: 20px auto;
}
.cta {
  margin: 60px 0;
}
.btn-facebook {
  padding: 20px;
  font-size: 24px;
  background-color: #4d68a2;
  color: #fff;
  border-radius: 6px;
}
.btn-facebook:hover {
  color: #fff;
}
.games-group {
  border-bottom: 1px solid #ddd;
}
.separator {
  cursor: pointer;
}
.separator .date {
  margin: 10px 0;
  font-size: 125%;
}
.little-score {
  width: 6px;
  height: 13px;
  margin-top: 4px;
  margin-right: 2px;
  display: inline-block;
  background-color: #ddd;
}
.little-score.saved {
  background-color: #8191da;
}
.little-score.win {
  background-color: #9eca8c;
}
.little-score.perfect {
  background-color: #ffe557;
}
.little-score.lost {
  background-color: #ff7979;
}
.showPast .game.past {
  display: block !important;
}
div.game {
  margin-bottom: 20px;
  padding: 20px 10px 15px 10px;
  border: 0;
  border-style: solid;
  border-left-width: 4px;
  border-color: #ddd;
}
div.game.past {
  display: none;
}
div.game.saved {
  border-color: #8191da;
}
div.game.saved:hover {
  background-color: rgba(129,145,218,0.25);
}
div.game.win {
  border-color: #9eca8c;
}
div.game.win:hover {
  background-color: rgba(158,202,140,0.25);
}
div.game.perfect {
  border-color: #ffe557;
}
div.game.perfect:hover {
  background-color: rgba(255,229,87,0.25);
}
div.game.lost {
  border-color: #ff7979;
}
div.game.lost:hover {
  background-color: rgba(255,121,121,0.25);
}
div.game:hover {
  cursor: pointer;
  background-color: #f6f6f6;
}
div.game .subtitle > div {
  padding-bottom: 5px;
}
div.game .subtitle .group {
  color: #9e9e9e;
}
div.game .flag {
  width: 40px;
}
div.game .flag img {
  width: 100%;
}
div.game .flag.right {
  margin-left: 10px;
}
div.game .flag.right img {
  float: right;
}
div.game .flag.left {
  margin-right: 10px;
}
div.game .game-score {
  font-size: 150%;
  padding-top: 5px;
}
div.game .game-score.hidden {
  visibility: hidden;
}
div.game .bet-score {
  color: #9e9e9e;
}
.legend {
  margin-top: 3em;
}
.legend ul {
  margin-left: 2em;
}
.leaderboard {
  padding: 0 10px;
}
.leaderboard .me {
  font-weight: bold;
}
.leaderboard li {
  margin: 8px 0;
}
form.bet {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f6f6f6;
}
form.bet .flags > div {
  text-align: center;
}
form.bet input {
  margin: 10px auto 0 auto !important;
  width: 100%;
  text-align: center;
  font-size: 36px;
}
form.bet label,
form.bet .versus {
  font-size: 150%;
  margin-top: 0.25em;
  text-align: center;
}
form.bet .submit {
  margin-top: 20px;
  text-align: center;
}
.bets {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f6f6f6;
}
.bets > div {
  margin-bottom: 30px;
}
.bets-title {
  margin-bottom: 20px;
}
.bet-row {
  padding: 5px 15px 5px 15px;
  overflow: hidden;
}
.bet-row.me {
  font-weight: bold;
}
.bet-row.perfect {
  background-color: #ffe557;
}
.bet-row.won {
  background-color: #9eca8c;
}
.help {
  margin-top: 40px;
}
footer {
  border-top: 1px solid #f6f6f6;
  text-align: center;
}
footer li {
  margin-right: 1em;
  display: inline-block;
}
