* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: 'helvetica neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: inherit;
}
h1.title:before,
h2.title:before,
h3.title:before,
h4.title:before,
h5.title:before {
  color: #f6f6f6;
  content: "#";
  padding-right: 0.3em;
}
section {
  margin-bottom: 1.5em;
}
a {
  color: #2996cc;
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0.4em 0;
  list-style: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
.page-width {
  max-width: 645px;
  padding: 0 20px;
  margin: auto;
}
header {
  text-align: center;
  background: #4eb11e;
  color: #b7e696;
  padding: 20px 0 25px;
  width: 100%;
  color: #fff;
}
.notification {
  padding: 10px;
  color: #4eb11e;
  background: #b7e696;
}
.notification.warning {
  background-color: #fee784;
  color: #997d01;
}
.notification.error {
  background-color: #e14644;
  color: #651110;
}
#content {
  margin: 20px auto;
}
.cta {
  margin: 60px 0;
}
.btn-facebook {
  padding: 20px;
  font-size: 24px;
  background-color: #4d68a2;
  color: #fff;
  border-radius: 6px;
}
.btn-facebook:hover {
  color: #fff;
}
div.game {
  margin-bottom: 20px;
  padding: 20px 10px;
  height: 80px;
}
div.game.saved {
  border-left: 4px solid #4758a9;
}
div.game.separator {
  border-top: 1px solid #ddd;
}
div.game:hover {
  cursor: pointer;
  background-color: #f6f6f6;
}
div.game .flag img {
  width: 50%;
}
div.game .flag.right img {
  float: right;
  margin-left: 10px;
}
div.game .flag.left img {
  margin-right: 10px;
}
.leaderboard {
  padding: 0 10px;
}
form.bet {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f6f6f6;
}
form.bet .flags > div {
  text-align: center;
}
form.bet input {
  margin: 10px auto 0 auto !important;
  width: 60%;
  text-align: center;
  font-size: 36px;
}
form.bet label,
form.bet .versus {
  font-size: 16px;
  text-align: center;
}
form.bet .submit {
  margin-top: 20px;
  text-align: center;
}
.bets {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f6f6f6;
}
.bets-title {
  margin-bottom: 20px;
}
.bet-row {
  padding: 5px 15px 5px 15px;
  overflow: hidden;
}
.bet-row.me {
  font-weight: bold;
}
.bet-row.perfect {
  background-color: #b7dfa4;
}
.bet-row.won {
  background-color: #daeed1;
}
.help {
  margin-top: 40px;
}
footer {
  border-top: 1px solid #f6f6f6;
  text-align: center;
}
footer li {
  margin-right: 1em;
  display: inline-block;
}
