extends layout

block header
    div.header-leaderboard
        ul
            li
                span.rank 1.
                span.name Neil McCauley
                span.score 90
            li.me
                span.rank 2.
                span.name #{user.first_name}
                span.score 87
            li
                span.rank 3.
                span.name Michael Cheritto
                span.score 69

block notification

block content

block script
    script(src="/js/app.js")
    script(src="/js/factories.js")
    script(src="/js/controllers.js")
