<div class="pure-g">
    <div class="pure-u-1 center">
        <ul class="filters">
            <li><a ng-click="scope='1,2,3,4,5,6'" ng-class="{selected: scope === '1,2,3,4,5,6'}">Group stage</a></li>
            <li><a ng-click="scope='7'" ng-class="{selected: scope === '7'}">Round of 16</a></li>
            <li><a ng-click="scope='8'" class="" ng-class="{selected: scope === '8'}">Quarter Finals</a></li>
            <li><a ng-click="scope='9'" ng-class="{selected: scope === '9'}">Semi Finals</a></li>
            <li><a ng-click="scope='10,11'" ng-class="{selected: scope === '10,11'}">Final</a></li>
        </ul>
    </div>
</div>

<div ng-controller="GamesController" widget-games ng-show="scope === '1,2,3,4,5,6'"></div>

<div widget-legend></div>

<script type="text/ng-template" id="widget-games.html">
    <div ng-repeat="day in days" class="games-group">
        <div class="pure-g separator" ng-click="showPast(day.dayCss)">
            <div class="pure-u-1">
                <div class="date">
                    {{ day.day|date: 'EEEE dd MMMM' }}
                </div>
                <div class="date bet-summary">
                    <span ng-repeat="game in day.games" class="little-score {{ game.bet.cssClass() }}" ng-class="{saved:game.bet.id}"></span>
                </div>
            </div>
        </div>
        <div ng-repeat="game in day.games" widget-game></div>
    </div>
</script>
