<ul>
    <li><a ng-click="">Group stage</a></li>
    <li><a ng-click="">Second stage</a></li>
</ul>

<div ng-controller="GamesController" widget-games></div>

<div widget-legend></div>

<script type="text/ng-template" id="widget-games.html">
    <div ng-repeat="day in days" class="games-group">
        <div class="pure-g separator" ng-click="showPast(day.dayCss)">
            <div class="pure-u-1">
                <div class="date">
                    {{ day.day|date: 'EEEE dd MMMM' }}
                </div>
                <div class="date bet-summary">
                    <span ng-repeat="game in day.games" class="little-score {{ game.bet.cssClass() }}" ng-class="{saved:game.bet.id}"></span>
                </div>
            </div>
        </div>
        <div ng-repeat="game in day.games" widget-game></div>
    </div>
</script>
