<div class="pure-g">
    <div class="pure-u-1 center">
        <ul class="filters">
            <li><a ng-click="week=1" ng-class="{selected: week === 1}">Week 1</a></li>
            <li><a ng-click="week=2" ng-class="{selected: week === 2}">Week 2</a></li>
            <li><a ng-click="week=3" ng-class="{selected: week === 3}" class="disabled">Week 3</a></li>
            <li><a ng-click="week=4" ng-class="{selected: week === 4}" class="disabled">Week 4</a></li>
            <li><a ng-click="week=5" ng-class="{selected: week === 5}" class="disabled">...</a></li>
        </ul>
    </div>
</div>

<div ng-controller="GamesController" widget-games ng-show="week === 1" ng-init="group=1"></div>
<div ng-controller="GamesController" widget-games ng-show="week === 2" ng-init="group=2"></div>

<div widget-legend></div>

<script type="text/ng-template" id="widget-games.html">
    <div ng-repeat="day in days" class="games-group">
        <div class="pure-g separator" ng-click="showPast(day.dayCss)">
            <div class="pure-u-1">
                <div class="date">
                    {{ day.day|date: 'EEEE dd MMMM' }}
                </div>
                <div class="date bet-summary">
                    <span ng-repeat="game in day.games" class="little-score {{ game.bet.cssClass() }}" ng-class="{saved:game.bet.id}"></span>
                </div>
            </div>
        </div>
        <div ng-repeat="game in day.games" widget-game></div>
    </div>
</script>
